.main{
    margin: 0;
    height: 100%;
    background:url('https://c8.alamy.com/comp/2B23YW6/gorgeous-cloudscape-in-springtime-weather-background-with-dynamic-cloud-arrangement-on-a-blue-sky-sunny-and-windy-day-good-weather-forecast-concept-2B23YW6.jpg') ;
    

}

.lower_container
{
    height: 100vh;
}